{% extends "layout.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{{ url_for("static", filename="js/main.js") }}"></script>
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="content-container">
        <h1>Two Plots of {{ pl_name }}'s Exo Sky</h1>
        <div class="image-container">
            <img src="{{ url_for('plot1') }}" alt="zenith">
            <img src="{{ url_for('plot2') }}" alt="nadir">
        </div>
        <div class="controls">
            <button id="startPositionBtn" onclick="window.location.href='/input_positions'">Input Starting Position</button>

            <!-- Star Type Slider -->
            <div class="slider-container">
                <label for="starTypeSlider">Adjust Star Magnitude:</label>
                <input type="range" id="starTypeSlider" name="starTypeSlider" min="1" max="8">
            </div>
        </div>
    </div>
{% endblock %}
