{% extends "layout.html" %}

{% block title %}
    Render Exoplanet Data
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg bg-dark text-white">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Render Exoplanet Data</h5>
                        <form action="/render" method="post">
                            <div class="mb-3">
                                <label for="exoplanet_id" class="form-label">Enter a valid exoplanet name:</label>
                                <input type="text" class="form-control bg-dark text-white border-0" id="exoplanet_id" name="exoplanet_id" placeholder="Proxima Cen b" required>
                                <small class="form-text">Please adhere to proper capitalization.</small>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-gradient btn-lg">Render ExoSky</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
