<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exoplanet Sky Viewer: {% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link href="/static/favicon.ico" rel="icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
</head>

<body>
    <!-- Navigation Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Navbar brand (Optional, you can add a logo or title) -->
            <a class="navbar-brand" href="/">Sky Viewer</a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content (navbar items) -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ms-auto">
                    <!-- "ms-auto" pushes the items to the right -->
                    <li class="nav-item">
                        <a class="nav-link" href="/render">Find New ExoSky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/save_data">Save Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/load_data">Load Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/preview">Load Preview</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block main %}{% endblock %}

    <div class="container my-5">
        <footer class="text-center text-lg-start">
            <div class="text-center p-3 footer-bg">
                <small class="footer-text">© 2024 Copyright:
                    <a class="footer-link" href="https://www.spaceappschallenge.org/nasa-space-apps-2024/find-a-team/space-marine/?tab=members">Space Marine</a>
                </small>
            </div>
        </footer>
    </div>

</body>
</html>

